.dropzone {
  border: 2px dashed gray;
  padding: 20px;
  text-align: center;
  transition: border 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}